function Main.main 1
push constant 16384
pop local 0
push local 0
push constant 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 514
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 546
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 578
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 610
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 642
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 674
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 706
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 738
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 770
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 802
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 834
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 866
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 898
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 930
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 962
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 994
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1027
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1059
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1091
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1123
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1155
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1187
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1219
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1251
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1283
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1315
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1347
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1379
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1411
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1443
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1475
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1507
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1540
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1572
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1604
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1636
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1668
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1700
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1732
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1764
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1796
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1828
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1860
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1892
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1924
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1956
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1988
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2020
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7711
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7743
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7775
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7807
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7839
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7871
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7903
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7935
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7967
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 7999
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 8031
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 8063
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 8095
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 8127
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 8159
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 8191
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
