function Display.DrawCell 3
push constant 16384
pop local 0
push local 0
push argument 0
push argument 1
call Display._find_start_pos_in_mem 2
add
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Display._find_start_pos_in_mem 0
push argument 1
push constant 32
call Math.multiply 2
push constant 16
call Math.multiply 2
push argument 0
add
return
function Display.EmptyBoard 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
