function Lib.math_mod 2
push argument 0
push argument 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
pop local 0
goto IF_END0
label IF_FALSE0
push argument 0
push argument 1
call Math.divide 2
pop local 1
push argument 0
push local 1
push argument 1
call Math.multiply 2
sub
pop local 0
label IF_END0
push local 0
return
function Lib.find_index_from_cell 1
push argument 0
push constant 0
lt
push argument 0
push constant 31
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
return
label IF_FALSE0
push argument 1
push constant 0
lt
push argument 1
push constant 15
gt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
neg
return
label IF_FALSE1
push constant 32
push argument 1
call Math.multiply 2
push argument 0
add
pop local 0
push local 0
return
