function Main.main 1
call World.new 0
pop local 0
push local 0
push constant 2
call World.set_pattern 2
pop temp 0
push local 0
push constant 34
call World.set_pattern 2
pop temp 0
push local 0
push constant 66
call World.set_pattern 2
pop temp 0
push local 0
push constant 412
call World.draw_beacon 2
pop temp 0
push local 0
push constant 384
call World.draw_beacon 2
pop temp 0
push local 0
push constant 54
call World.draw_glider 2
pop temp 0
push local 0
push constant 112
call World.draw_penta 2
pop temp 0
push local 0
push constant 198
call World.draw_toad 2
pop temp 0
push local 0
call World.run 1
pop temp 0
push constant 0
return
